<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dimiwords_Client_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Dimiwords_Client_WPF.Properties.Settings>
            <setting name="theme_Set" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dimiwords_Theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="form_Size" serializeAs="String">
                <value>394, 177, 1105, 668</value>
            </setting>
            <setting name="form_is_Max" serializeAs="String">
                <value>False</value>
            </setting>
        </Dimiwords_Client_WPF.Properties.Settings>
    </userSettings>
</configuration>